# Property file.  The Rules:
# - Each property is a name/value pair, separated by a equal sign.  The name should be DNS characters only (letters, numbers, dot).
# - Comment lines start with a # and are ignored.
# - Blank lines (all whitespace) are ignored.
# - Lines can be continued with an amperstand character '&' as the last character.
# - Every line will be trimmed of whitespace at both ends, but intra-token whitespace will be preserved.
# - A single property can have multiple values.  Each value is separated with a comma (',').
# - The escape character is ?.  A double '??' will yield a single '?'.
# - The , may be escaped with ?, as can the equal sign.
# - It is assumed to be the default character set.
#  
# Local properties

# file.exclude=README.TXT
# file.copy=index.html
# directory.exclude=images

renderer.name=templatev1_source
template.path.catalog=images/templatev1-source.html.ready
template.path.file=images/templatev1-sourcecode.html.ready
